<h1> Add a movie to your favorites! </h1>

<% if flash[:error] %>
    <ul>
        <% flash[:errors].each do |error| %>
        <li>
        error
        </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @favorite do |f| %>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
    <%= f.label :tvshow_id %>
    <%= f.collection_select :tvshow_id, Tvshow.all, :id, :name %>
    <%= f.submit "Add to favorites (+)"%>
<% end %>