<h1>Look at all these TV Shows!</h1>

<%#= form_tag "/tvshows", method: :get do %>

  <%#= text_field_tag :search, params[:search] %>
  <%#= submit_tag "Search for a TV Show" %>
  
<%# end %>

<%= form_tag "/tvshows", method: :get do %>

  <%= text_field_tag :search_term %>
  <%= submit_tag "Search for a TV Show!" %>
  
<% end %>

<div class="movies_index">
  <% @tvshows.each do |tvshow| %>
  <div>
    <a href="<%= tvshow_path(tvshow) %>">
      <div>
        <h4><%= tvshow.name %></h4>
        <img
          src="https://image.tmdb.org/t/p/w500<%= tvshow.poster_path %>"
          alt="tvshow.name"
        />
        </div>
        </a>
        <% if @user.tvshows.include?(tvshow) %>
  <%= button_to 'Remove from Favorites!', favorite_path(tvshow.find_favorite(@user)), method: :delete %>
<% else %>
  <%= button_to "Add to FAVORITES!!!", "/favorites/#{tvshow.id}" %>
<% end %>
  </div>
  <% end %>
</div>
